<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>product page</h1>
    <img src="logo.png" alt="">
  
    <% products.forEach(prod =>{ %>
        <p><%= prod.name %></p>
        <p><%= prod.price %></p>
        <!-- console.log(prod) -->
         <button onclick="addtocheckout(`<%= prod._id%>`)">Add</button>  
   <% }) %>
   
</body>
</html>
<script>

function addtocheckout(product){

   console.log('product:', product)

   fetch('http://localhost:2809/checkouts',{
    method: "POST",
    headers: {
        "Accept" : 'application/json',
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({"prod":product})
   }).then(res => res.json())
     .then(res => console.log(res))
}


</script>